@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,300&display=swap");

body {
  background-color: #e5e5e5;
  font-family: "Poppins", sans-serif;
}

p {
  color: #344563;
}

* {
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  background-color: #fff;
  padding: 14px 24px;
}

.logo {
  flex: 1;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  text-decoration: none;
  color: #6070ff;
}

.tab {
  background-color: #6070ff;
  width: 25px;
  height: 4px;
  margin-bottom: 4px;
  border-radius: 2px;
}

.header {
  background-image: url("./assests/header-mobile-background.png");
  background-size: cover;
  background-position: center;
  height: 507px;
  padding: 50px 20px 0 20px;
  border-bottom-left-radius: 50px;
  background-color: #fff;
}

.header-title {
  font-size: 40px;
  font-style: normal;
  line-height: 52px;
  text-align: left;
  margin: 20px 0;
  color: #172b4d;
}

.header-content {
  font-size: 16px;
  line-height: 24px;
  text-align: justify;
}

.header-connect {
  padding: 15px 0;
  font-size: 16px;
  text-align: left;
  color: #7f8cff;
}

.header-social {
  display: flex;
  text-align: left;
  padding: 0;
}

.social-icon {
  flex-direction: row;
  padding: 0 15px 0 0;
  list-style: none;
}

.works {
  display: grid;
  row-gap: 80px;
  padding: 128px 6.5%;
  width: auto;
}

.works-project {
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 16px;
}

.works-project img {
  width: 100%;
}

.works-title {
  color: #172b4d;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
  margin-top: 15px;
}

.works-list-project {
  font-size: 13px;
  color: #7a869a;
  display: flex;
  padding: 0;
  align-items: center;
  margin: 10px 0;
}

.works-list-project li {
  margin-right: 32px;
}

.works-list-skills li {
  background-color: #ebebff;
  padding: 4px 12px;
  border-radius: 8px;
  margin-right: 8px;
}

.works-list-project > li:first-child {
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
  list-style: none;
}

.works-list-project p {
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
}

.works-list-skills {
  display: flex;
  list-style: none;
  color: #7f8cff;
  margin-top: 15px;
}

button {
  color: #396df2;
  border: 1.5px solid #396df2;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  padding: 10px;
  background-color: transparent;
  margin: 20px 0;
}

button:hover {
  background-color: #6070ff;
  color: #fff;
}

button:active {
  background-color: #2230d2;
  color: #fff;
}

button:disabled {
  color: #5e6c84;
  border-color: #c1c7d0;
}

.about {
  background-color: #fff;
  padding: 114px 24px;
  border-top-right-radius: 50px;
  padding-bottom: 200px;
  z-index: -1;
}

.about .info .header-social {
  padding-left: 8px;
}

.about .info button {
  margin-top: 8px;
}

.experience-listlanguage p {
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #253858;
  margin-left: 16px;
}

.contact p {
  padding: 0 20px;
  text-align: justify;
  color: #ebebff;
  padding-bottom: 20px;
  text-align: center;
}

.about .info p {
  text-align: justify;
}

.about .info h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  margin-bottom: 10px;
  color: #172b4d;
}

.experience {
  margin-top: 25px;
}

.experience .drop-down {
  display: flex;
  justify-content: space-between;
}

.experience .drop-down img {
  margin-right: 20px;
}

.experience-list {
  list-style: none;
  margin-top: 40px;
}

.experience-listlanguage {
  display: flex;
  align-items: center;
  background-color: #f7f7f9;
  padding: 10px 12px;
  border-radius: 7px;
  margin: 12px 0;
}

.experience .close {
  padding: 20px 0;
  border-bottom: 2px solid #dfe1e6;
}

.experience .drop-down p {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
}

.contact {
  margin-top: -80px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #6070ff;
  background-image: url("./assests/contact-bg.png");
  background-repeat: no-repeat;
  background-position-x: right;
  border-top-left-radius: 40px;
  min-height: 100vh;
}

.contact-title {
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  color: #fff;
  padding: 100px 0 20px 0;
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.form-input {
  background: #fff;
  padding: 12px 90px 12px 15px;
  border: 1px solid #cfd8dc;
  margin-bottom: 20px;
  border-radius: 5px;
  outline: none;
}

.contact-btn {
  background-color: #fff;
  width: 45%;
  color: #6070ff;
  font-size: 17px;
  margin-top: 0;
}

::placeholder {
  font-size: 12px;
  color: #b3bac5;
}
